<div class="divbody">
<div class="container">
    <h2 class="text-center">Add Course</h2>
    <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="courseName" class="form-label">Course Name</label>
            <input type="text" class="form-control" id="courseName" placeholder="Enter course name" name="coursename" required [(ngModel)]="course.coursename">
        </div>

        <div class="mb-3">
            <label for="courseDuration" class="form-label">Duration (in months)</label>
            <input type="number" class="form-control" id="courseDuration" placeholder="Enter duration" name="duration" required [(ngModel)]="course.duration">
        </div>

        <div class="mb-3">
            <label for="courseFees" class="form-label">Course Fees (vnd)</label>
            <input type="number" class="form-control" id="courseFees" placeholder="Enter fees" name="fees" required [(ngModel)]="course.fees">
        </div>

        <div class="mb-3">
            <label for="courseImage" class="form-label">Upload Course Image</label>
            <input type="file" class="form-control" id="courseImage" required multiple value="select" (change)="onFileSelected($event)">
            <div class="row">
                <div *ngFor="let file of course.courseImages;let i=index" class="col-sm-2">
                  <span class="close" (click)="removeImage(i)">Image:</span>  
                  <img [src]="file.url" alt="" width="100px" height="100px">
                </div>
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary w-50">Add Course</button>
        </div>
    </form>
</div>
</div>