<div class="divbody">
<!-- Hero / Main Section -->
<div class="container">
    <div class="appointment-container" style="background-image: url('bg.jpg'); ">
        <h2 class="text-center">Course Registration</h2>
        <p class="text-center text-info">Master the Art of Beauty - Register Now!</p>

        <form method="POST" #regForm="ngForm" (ngSubmit)="submitdata(regForm)">
            <div class="mb-3">
                <label class="form-label">Full Name</label>
                <input type="text" class="form-control" name="name" placeholder="Enter your name" #name="ngModel" ngModel required>
                <div *ngIf="!name.valid" style="color:red;">
                    <div *ngIf="name.errors?.['required']">
                        Enter Full Name
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email Address</label>
                <input type="email" class="form-control" id="email" placeholder="Enter your email" name="email" #email="ngModel" ngModel required>
                <div *ngIf="!email.valid" style="color:red;">
                    <div *ngIf="email.errors?.['required']">
                        Enter Email Address
                    </div>
                </div>
            </div>  

            <div class="mb-3">
                <label for="phone" class="form-label">Mobile Number</label>
                <input type="tel" class="form-control" id="phone" placeholder="Enter your mobile number" name="phn" #phn="ngModel" ngModel required pattern="[0][0-9]{9}">
                <div *ngIf="!phn.valid" style="color:red;">
                    <div *ngIf="phn.errors?.['required']">
                        Enter Mobile Number
                    </div>
                    <div *ngIf="phn.errors?.['pattern']">
                        Enter Valid Mobile Number
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">Select Course</label>
                <select class="form-select" name="course" #course="ngModel" ngModel required>                                   
                    <option value="">Choose a course...</option>
                    <option *ngFor="let course of courses" [value]="course.coursename">
                        {{course.coursename}} - Duration: {{course.duration}} - Fees: {{course.fees}}
                    </option>
                </select>
                <div *ngIf="!course.valid" style="color:red;">
                    <div *ngIf="course.errors?.['required']">
                        Select a Course
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">Select Batch</label>
                <select class="form-select" name="batch" #batch="ngModel" ngModel required>                                   
                    <option value="" >Choose a batch..</option>
                    <option value="Morning" >Morning</option>
                    <option value="Afternoon" >Afternoon</option>
                </select>
                <div *ngIf="!batch.valid" style="color:red;">
                    <div *ngIf="batch.errors?.['required']">
                        Select Batch
                    </div>
                </div>
            </div>

            <button type="submit" [disabled]="!regForm.valid" class="btn btn-book w-100">!! Register Now !!</button>
        </form>
    </div>
</div>
</div>