<!-- Footer Section -->
<footer class="bg-dark text-light pt-5 pb-4">
    <div class="container text-center text-md-start">
      <div class="row">

        <!-- Brand Name and About -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h5 class="text-uppercase fw-bold mb-4">
            Reflection Beauty Parlour
          </h5>
          <p>
            Bringing out your inner beauty with confidence and style. Discover our range of beauty services.
          </p>
        </div>

        <!-- Quick Links -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Quick Links</h6>
          <ul class="list-unstyled">
            <li><a routerLink="/ghome" class="text-light text-decoration-none">Home</a></li>
            <li><a routerLink="/gaboutus" class="text-light text-decoration-none">About</a></li>
            <li><a routerLink="/gservices" class="text-light text-decoration-none">Services</a></li>
            <li><a routerLink="/ggallery" class="text-light text-decoration-none">Gallery</a></li>
            <li><a routerLink="/contact" class="text-light text-decoration-none">Contact</a></li>
          </ul>
        </div>

        <!-- Contact Info -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Contact Us</h6>
          <p><i class="bi bi-geo-alt-fill me-2"></i>Ngu Hanh Son, Da Nang, Viet Nam</p>
          <p><i class="bi bi-envelope-fill me-2"></i> info &#64; reflectionbeauty.com</p>
          <p><i class="bi bi-phone-fill me-2"></i> +8327156879</p>
        </div>

        <!-- Social Media Icons -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Follow Us</h6>
        <li><a href="" class="text-light me-4"><i class="fab fa-facebook icon"></i>Facebook</a></li>
        <li><a href="" class="text-light me-4"><i class="fab fa-instagram icon"></i>Instagram</a></li>
        </div>

      </div>
    </div>

    <!-- Copyright -->
    <div class="text-center py-3 bg-dark text-light border-top border-secondary">
      &copy; 2025 Reflection Beauty Parlour | All Rights Reserved
    </div>
</footer>