<div class="divbody">
<div class="container-fluid"  >
    <!-- Client History -->
    <div class="col-mt-10">                
       <div class="container mt-3">
           <h2 style="text-align: center; color: #000; font-weight: bold;">Client Data History</h2>
           <div id="accordion">
             
             <div class="card">
               <div class="card-header">
                 <a class="btn" data-bs-toggle="collapse" href="#registeredusers" style="color: #000; font-weight: bold;">
                 Registered Users
               </a>
               </div>
               <div id="registeredusers" class="collapse show" data-bs-parent="#accordion">
                   <div class="card-body">
                       <section id="Registered Users">
                           <table class="table table-bordered">
                               <thead>
                                   <tr>
                                       <th>name</th>
                                       <th>DOB</th>
                                       <th>E-mail</th>
                                       <th>Phone no</th>
                                       <th>Address</th>
                                       <th>Password</th>
                                   </tr>
                               </thead>
                               <tbody>
                                   <tr>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                   </tr>
                               </tbody>
                           </table>
                       </section>                         
                   </div>
             </div>
             <div class="card">
               <div class="card-header">
                 <a class="btn" data-bs-toggle="collapse" href="#clienthistory" style="color: #000; font-weight: bold;">
                   Client's Appointment History
                 </a>
               </div>
               <div id="clienthistory" class="collapse" data-bs-parent="#accordion">
                   <div class="card-body">
                   <section id="Client History">
                       <table class="table table-bordered">
                           <thead>
                               <tr>
                                   <th>Appointment Date</th>
                                   <th>Client Name</th>
                                   <th>Appointment Time</th>
                                   <th>E-mail</th>
                                   <th>Phone no</th>
                                   <th>Service</th>
                               </tr>
                           </thead>
                           <tbody>
                               <tr>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                               </tr>
                           </tbody>
                       </table>
                   </section>
                   </div>
               </div>
             </div>
             <div class="card">
               <div class="card-header">
                 <a class="collapsed btn" data-bs-toggle="collapse" href="#clientregistered" style="color: #000; font-weight: bold;">
                   Clients registered for Courses
                 </a>
               </div>
               <div id="clientregistered" class="collapse" data-bs-parent="#accordion">
                   <div class="card-body">
                   <section id="Client Registered">
                       <table class="table table-bordered">
                           <thead>
                               <tr>
                                   <th>Name</th>
                                   <th>DOB</th>
                                   <th>E-mail</th>
                                   <th>Phone no</th>
                                   <th>Course</th>
                               </tr>
                           </thead>
                           <tbody>
                               <tr>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                               </tr>
                           </tbody>
                       </table>
                   </section>
                   </div>
               </div>
             </div>
            </div>
            </div>
        </div>
</div>
</div>
</div>