<div class="divbody">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-9">
                <div class="contact-info text-center">
                    <h2 class="font-weight-bold">Get in Touch</h2>
                    <h4 style="font-weight:bold">Branch1:VKU </h4>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3835.734025012025!2d108.25065207495284!3d15.975260284690718!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3142108997dc971f%3A0x1295cb3d313469c9!2sVietnam%20-%20Korea%20University%20of%20Information%20and%20Communication%20Technology!5e0!3m2!1sen!2s!4v1748452075970!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <p><i class="fas fa-map-marker-alt icon"></i>470 Đ. Trần Đại Nghĩa, Hoà Hải, Ngũ Hành Sơn, Đà Nẵng 550000, Vietnam
                       </p>
                    <h4 style="font-weight:bold">Branch 2:FPT </h4>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3835.8561681211872!2d108.25831637495283!3d15.968885884696187!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3142116949840599%3A0x365b35580f52e8d5!2sFPT%20University%20Danang!5e0!3m2!1sen!2s!4v1748452171531!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <p><i class="fas fa-map-marker-alt icon"></i>Khu đô thị FPT City, Ngũ Hành Sơn, Da Nang 550000, Vietnam</p><br>
    
    
                    <p><i class="fas fa-phone icon"></i>
                        <a href="tel:+918956721234">+8327156879</a></p>
                    <p><i class="fas fa-envelope icon"></i><a
                            href="Reflectionbeautyparlour@gmail.com.">Reflectionbeautyparlour</a></p>
                    <p>
                        <a href="https://www.instagram.com/yourprofile" target="_blank"><i
                                class="fab fa-instagram icon"></i></a>
                        <a href="https://www.youtube.com/yourchannel" target="_blank"><i
                                class="fab fa-facebook icon"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>
    