<div class="divbody">
    <div class="container-fluid mt-3" style="padding-bottom: 30px; padding-top: 10px;">
        <h1>Our Services</h1>
        
        <div class="row">
          <div class="col-sm-3">
            <div class="card">

              <a routerLink="/gmakeupandhairstyling">
              <img class="card-img-top" src="makeup.png" alt="Card image">
              </a>
              <div class="card-body" >
                <a routerLink="/gmakeupandhairstyling" class="card-title" style="font-weight: bold; text-decoration: none;">MAKEUP <br>AND<br> HAIRSTYLING</a>
                <div>
                  <ul style="list-style-type: none;">
                  <li>Bridal Makeup</li>
                  <li>HD Makeup</li>
                  <li>Party Makeup</li>
                  <li>~Custom Makeup</li>
                </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card" >
              <a routerLink="/ghaircuttingandmaintenance">
              <img class="card-img-top" src="servicehair.jpg" alt="Card image" >
              </a>
              <div class="card-body" >
                <a  routerLink="/ghaircuttingandmaintenance" class="card-title" style="font-weight: bold; text-decoration: none;">HAIRCUTTING <br>AND<br> MAINTENANCE</a>
                <div>
                  <ul style="list-style-type: none;">
                    <li>~Custom Haircuts</li>
                    <li>Smoothing</li>
                    <li>Keratin Treatment</li>
                    <li>Botox</li>                   
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card" >
              <a routerlink="/ggroomingandrelaxation">
              <img class="card-img-top" src="servicerelax.jpg" alt="Card image" >
              </a>
              <div class="card-body" >
                <a routerlink="/ggroomingandrelaxation" class="card-title" style="font-weight: bold; text-decoration: none;">GROOMING <br>AND<br> RELAXING</a>
                <div>
                  <ul style="list-style-type: none;">
                    <li>Waxing</li>
                    <li>Bleaching</li>
                    <li>Threading</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3" >
            <div class="card" >
              <a routerLink="/gsareedraping">
              <img class="card-img-top" src="aodai.png" alt="Card image" >
              </a>
              <div class="card-body" >
                <a routerLink="/gsareedraping" class="card-title" style="font-weight: bold; text-decoration: none;">Ao dai <br>DRAPING</a>
                <div>
                  <ul style="list-style-type: none;">
                    <li>Makeup</li>
                    <li>accessory</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    </div>
    