<div class="body" style="background-image: url('guest.png'); ">
    <div class="hero">
      <h1>"Enhance Your Beauty, <br> Embrace Your Reflection"</h1>
      <p>"Luxury salon & spa services tailored just for you"</p>
      <a routerLink="/register" class="btn btn-custom">Register</a>
      <a routerLink="/login" class="btn btn-custom">Login</a>
    </div>
  
    <div class="why-choose">
      <h2 style="font-weight: bold;">Why Choose Us?</h2>
      <div class="container">
        <div class="row mt-4">
          <div class="col-md-4">
            <div class="card p-4 text-center">
              <div class="card-body">
                <h4 class="card-title">Expert Professionals</h4>
                <p class="card-text">Our highly trained and certified beauty experts ensure top-notch service quality.</p>
              </div>
            </div>
          </div>
  
          <div class="col-md-4">
            <div class="card p-4 text-center">
              <div class="card-body">
                <h4 class="card-title">Convenient Online Booking</h4>
                <p class="card-text">Book your appointment anytime, anywhere with our easy-to-use booking system.</p>
              </div>
            </div>
          </div>
  
          <div class="col-md-4">
            <div class="card p-4 text-center">
              <div class="card-body">
                <h4 class="card-title">Customer Satisfaction</h4>
                <p class="card-text">We prioritize your happiness - our high customer ratings and repeat clients speak for themselves!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>