.card{
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  .container-fluid .btn{
    margin-bottom: 12px;
  }
  .container-fluid .row .col-sm-3 .card{
    height: 500px;
  }
  .container-fluid .row .col-sm-3 .card .card-body{
    text-align: center;
  }
  .container-fluid .row .col-sm-3 .card .card-img-top{
    width: 310px;
    height: 400px;
    padding: 10px 10px 10px 10px; 
    border-radius: 5%;
  }
  .divbody{
    font-family: 'Times New Roman', Times, serif;
  }
  div div h1{
    text-align: left; 
    display: inline; 
    padding-left:20px; 
    padding-bottom: 50px;
    font-weight: bold;
  }