<div class="divbody">
<div class="container-fluid mt-3" style="padding-bottom: 30px; padding-top: 10px;">
  
    <h1>Our Services</h1>
    <a routerLink="/bookappointment">
    <button type="button" class="btn btn-warning lg" style="padding: 10px; margin-left: 900px;">Book Appointment</button>
    </a>
 
    <div class="row">
      <div class="col-sm-3">
        <div class="card" >
          <a routerLink="/makeupandhairstyling">
          <img class="card-img-top" src="makeup.png" alt="Card image">
          </a>
          <div class="card-body" >
            <a routerLink="/makeupandhairstyling" class="card-title" style="font-weight: bold; text-decoration: none;">MAKEUP <br>AND<br> HAIRSTYLING</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card" >
          <a routerLink="/haircuttingandmaintenance">
          <img class="card-img-top" src="servicehair.jpg" alt="Card image" >
          </a>
          <div class="card-body" >
            <a  routerLink="/haircuttingandmaintenance" class="card-title" style="font-weight: bold; text-decoration: none;">HAIRCUTTING <br>AND<br> MAINTAINANCE</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card" >
          <a routerLink="/groomingandrelaxation">
          <img class="card-img-top" src="servicerelax.jpg" alt="Card image" >
          </a>
          <div class="card-body" >
            <a routerLink="/groomingandrelaxation" class="card-title" style="font-weight: bold; text-decoration: none;">GROOMING <br>AND<br> RELAXING</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3" >
        <div class="card" >
          <a routerLink="/sareedraping">
          <img class="card-img-top" src="aodai.png" alt="Card image" >
          </a>
          <div class="card-body" >
            <a routerLink="/sareedraping" class="card-title" style="font-weight: bold; text-decoration: none;">Clothing rental <br>DRAPING</a>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
