<div class="divbody" style="background-image: url('user.jpg'); ">
  <div class="mainsection">
      <section class="container my-5 mt-0" >
        <div class="row align-items-center">
          <div class="col-md-6 mb-4 mb-md-0">
            <h1 class="fw-bold" style="padding-top: 200px;">"Reflect your beauty, shine with confidence."</h1>
            <p class="lead" style="text-align: justify; border-bottom: 200px;">
              Reflect your inner beauty. At Reflection Beauty Salon, we empower you to enhance your natural radiance. Our expert courses and bespoke salon services provide comprehensive training and personalized treatments, leaving you confident and glowing. Your journey to a more beautiful you starts here.
            </p>
          </div>
        </div>
      </section>
  </div>
  </div>