<div class="divbody">
<!-- Gallery Section -->
<div class="container my-5 mt-0">
    <h1 class="text-center mt-2">Our Work</h1>
    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="gallery-img">
                <img src="gallery/g1.png" class="img-fluid rounded" alt="Work 1">
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="gallery-img">
                <img src="gallery/g2.png" class="img-fluid rounded" alt="Work 2">
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="gallery-img">
                <img src="gallery/g3.png" class="img-fluid rounded" alt="Work 3">
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="gallery-img">
                <img src="gallery/g4.png" class="img-fluid rounded" alt="Work 4">
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="gallery-img">
                <img src="gallery/g5.png" class="img-fluid rounded" alt="Work 5">
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="gallery-img">
                <img src="gallery/g6.png" class="img-fluid rounded" alt="Work 6">
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="gallery-img">
                <img src="gallery/g7.png" class="img-fluid rounded" alt="Work 7">
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="gallery-img">
                <img src="gallery/g8.png" class="img-fluid rounded" alt="Work 8">
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="gallery-img">
                <img src="gallery/g9.png" class="img-fluid rounded" alt="Work 9">
            </div>
        </div>
      
    </div>
    </div>
</div>